extends ../_layouts/base

include ../_modules/faq/faq

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.faqs
        section.faqs__hero
            h1.faqs__hero__title Preguntas Frecuentes
            img.faqs__hero__img(src="https://static1.squarespace.com/static/560aebede4b0f92262d19a0a/t/561292fee4b0e5d9aa3e1758/1444057856503/Midwest-Lawyers-Background.jpg?format=1500w")
        
        section.faqs__body
            .container
                .row
                    .faqs__wrapper.clearfix
                        .col-xs-24.col-sm-6
                            ul.faqs__categories
                                each cat in site.data.faq.categories
                                    li= cat
                        .col-xs-24.col-sm-16.col-sm-offset-2
                            p.faqs__summary Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                            each item in site.data.faq.list
                                +faq(item)
                            
        
        
        section.faqs__contacto
            .container-fluid
                .row
                    .col-xs-24.faqs__parallax
            
                .row.home__aside-sections
                    section.home__whyus.col-xs-24.col-sm-12
                        .home__whyus__wrapper
                            h2.home__section-title!= site.data.home.whyus.title
                            ul.home__whyus__features
                                each item, index in site.data.home.whyus.features
                                    li.home__whyus__feature.wow.fadeInLeft
                                        span.home__whyus__feature__highlight= item.hightlight
                                        span.home__whyus__feature__text= item.text
                                    
                    section.home__contact.col-xs-24.col-sm-12
                        h2.home__section-title= site.data.home.contact.title
                            .home__contact__wrapper
                                form._form
                                    input(placeholder="Nombre y Apellido", type="text")
                                    input(placeholder="Email",type="email")
                                    input(placeholder="Teléfono", type="text")
                                    select(placeholder="faqs")
                                        each item, index in site.data.home.contact.selectbox
                                            option(value="opcion-#{index}")= item
                                    label Mensaje
                                    textarea(rows="7")
                                    button._button.-white(type="submit") Enviar
